{{ define "main" }}
<div class="container p-3 my-3 border">
<h5>{{ .Title }}</h5>

<h6>Movie details</h6>
<table class="table table-hover table-bordered">
    <tbody>
        <!-- <tr>
            <td>ID</td>
            <td>{{ .Params.movieId}}</td>
        </tr> -->
        <tr> 
            <td class="table-success">Title</td>
            <td>{{ .Params.title}}</td>
        </tr>
        <tr>
            <td class="table-success">Year </td>
            <td>{{ .Params.year}}</td>
        </tr>
        <tr>
            <td class="table-success">Language</td>
            <td>{{ .Params.language}}</td>
        </tr>
        <tr>
            <td class="table-success">Country</td>
            <td>{{ .Params.country}}</td>
        </tr>
        <tr>
            <td class="table-success">Budget </td>
            <td>{{ .Params.budget}}</td>
        </tr>
        <tr>
            <td class="table-success">Actors </td>
            <td>
                {{ range .Params.actorId }}
                    {{ $t := $.Site.GetPage .}}
                    <a href="/actors/{{ .}}">{{ $t.Title }}</a>
                {{ end }}
            </td>
        </tr>
        <tr>
            <td class="table-success">Director</td>
            <td>
                {{ range .Params.directorId }}
                    {{ $t := $.Site.GetPage .}}
                    <a href="/directors/{{ .}}">{{ $t.Title }}</a>
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>

<h6>Description</h6>
{{ .Content }}
</div>
{{ end }}